Repository Schulman-Coaching/partnership-tax-ai-engine, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, infrastructure, testing, security, performance, dependencies, configuration, ai-ml

.github/labeler.yml:

# Auto-labeling configuration for pull requests

# Backend changes
backend:
  - 'backend/**/*'
  - 'backend/*'

# Frontend changes
frontend:
  - 'frontend/**/*'
  - 'frontend/*'

# Documentation changes
documentation:
  - '*.md'
  - 'docs/**/*'
  - 'README*'
  - 'CHANGELOG*'

# Infrastructure/DevOps changes
infrastructure:
  - 'deployment/**/*'
  - 'docker-compose*.yml'
  - 'Dockerfile*'
  - '.github/**/*'

# Testing changes
testing:
  - 'tests/**/*'
  - '**/*test*'
  - '**/*spec*'
  - 'pytest.ini'
  - 'jest.config*'

# Security changes
security:
  - '**/security/**/*'
  - '**/*security*'
  - '.github/workflows/code-quality.yml'

# Performance changes
performance:
  - '**/*performance*'
  - '**/*benchmark*'
  - '.github/workflows/performance-monitoring.yml'

# Dependencies
dependencies:
  - 'package*.json'
  - 'requirements*.txt'
  - 'poetry.lock'
  - 'yarn.lock'

# Configuration
configuration:
  - '*.yml'
  - '*.yaml'
  - '*.json'
  - '*.toml'
  - '*.ini'
  - '.env*'

# AI/ML changes
ai-ml:
  - '**/ai/**/*'
  - '**/ml/**/*'
  - '**/*ai*'
  - '**/*machine*learning*'
  - '**/*model*'

fix: enable Next.js standalone output for Docker deployment
  frontend/next.config.js
Labels: frontend

fix: resolve GitHub Actions workflow failures
  .github/workflows-disabled/code-quality.yml
  .github/workflows-disabled/dependency-management.yml
  .github/workflows-disabled/documentation.yml
  .github/workflows-disabled/issue-management.yml
  .github/workflows-disabled/performance-monitoring.yml
  .github/workflows/deploy.yml
  DEPLOYMENT_STATUS.md
Labels: documentation, infrastructure, performance

fix: resolve PostgreSQL root role issue in GitHub Actions
  .github/workflows/deploy.yml
Labels: infrastructure

fix: prevent database initialization during testing
  .github/workflows/deploy.yml
  backend/app/main.py
Labels: backend, infrastructure, ai-ml

fix: explicitly configure PostgreSQL user in GitHub Actions service
  .github/workflows/deploy.yml
Labels: infrastructure

fix: remove invalid npm cache dependency path
  .github/workflows/deploy.yml
Labels: infrastructure

feat: add package-lock.json for npm ci compatibility
  frontend/package-lock.json
Labels: frontend

Fix Docker build issues for backend and frontend
  DEPLOYMENT_STATUS.md
  backend/Dockerfile
  frontend/Dockerfile
Labels: backend, frontend, documentation

Trigger deployment: Update deployment status to reflect workflow initiation
  DEPLOYMENT_STATUS.md
Labels: documentation

Fix ESLint configuration: Add Next.js ESLint plugin and update gitignore
  .gitignore
  frontend/.eslintrc.json
  frontend/tsconfig.json
Labels: frontend

Fix Dockerfile: change libopenblas-base to libopenblas-dev in runtime stage
  backend/Dockerfile
Labels: backend

Add Critters dependency to frontend
  DEPLOYMENT_STATUS.md
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, documentation
